*.tar
*.jpg
*.npy
*.zip
*.pyc
*.csv
*.json
.idea/
logs/
.DS_Store
*/.DS_Store
.vscode/
log*
*/logs*
*.cluster
wandb/
*/wandb/
*.mp4
*.pkl 
*.out
tmp/
*.pth
*.pkl
data/
*/sps-*/
**/sps-*/
*/sps-*.tar.gz
**/sps-*.tar.gz
